.card {
    display: flex;
    flex-direction: column;

    background-color: var(--color-background-secondary);

    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border-radius: var(--border-radius);

    border: .2rem solid var(--color-border);
}

.card .card__img-wrapper {
    height: 25rem;

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    overflow: hidden;
}

.card .card__content {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
}

.card .card__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card .card__link {
    font-size: inherit;
    font-weight: inherit;

    transition: color var(--transition-base);
}

.card .card__title:hover .card__link {
    color: var(--color-primary);
}

.card .card__short-description {
    color: var(--color-gray);

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
