.card {
    display: flex;
    flex-direction: column;

    background-color: var(--color-background-secondary);

    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border-radius: var(--border-radius);

    box-shadow: 0 0 1rem var(--color-shadow);
}

.card .card__img-wrapper {
    height: 25rem;

    background-color: var(--color-background);

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    overflow: hidden;
}

.card .card__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card .card__content {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
}

.card .card__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
