.form {
    width: 30%;

    margin: 0 auto;
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: var(--color-background-secondary);

    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border-radius: var(--border-radius);

    box-shadow: 0 0 2rem var(--color-shadow);
}

.form.form--column {
    width: 50%;
}

.form .form__row {
    display: flex;
    gap: 5rem;
}

.form .form__row > * {
    flex: 1;
}

.form .form__col {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

label {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);
}

input, textarea, select {
    padding: .8em;

    background-color: var(--color-background);

    outline: none;
    border: .2rem solid var(--color-border);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border-radius: var(--border-radius);

    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);

    transition: border-color var(--transition-base);
}

textarea {
    height: 10rem;
    min-height: 4.95rem;
    max-height: 30rem;

    resize: vertical;
}

option {
    font-size: inherit;
    font-weight: inherit;
}

input:focus, textarea:focus, select:focus {
    border-color: var(--color-primary);
}
