.header {
    margin-bottom: 4rem;
    padding: 3rem 0;
}

.header__wrapper {
    width: var(--width);

    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
}
