.header {
    background-color: rgba(255, 255, 255, .6);

    border-bottom: .1rem solid var(--color-border);

    backdrop-filter: blur(10px);
    z-index: 100;

    position: sticky;
    top: 0;
    left: 0;
}

.header .header__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header .header__cart {
    width: 3.6rem;
    height: 3.6rem;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border-radius: var(--border-radius);

    cursor: pointer;
    transition: background-color var(--transition-base);
}

.header .header__cart:hover {
    background-color: var(--color-background-secondary);
}

.header .header__cart-img {
    width: 1.6rem;
    height: 1.6rem;
}
