nav {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

nav a {
    color: var(--color-secondary);

    font-size: var(--font-size-base);
    font-weight: var(--font-weight-medium);

    position: relative;
}

nav a:hover::after,
nav a.active::after {
    width: 100%;
}

nav a::after {
    width: 0;
    height: .3rem;

    background-color: var(--color-secondary);

    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border-radius: var(--border-radius);

    content: '';
    transition: width var(--transition-medium);
    transform: translateX(-50%);

    position: absolute;
    bottom: -.5rem;
    left: 50%;
}
