.order-card {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    background-color: var(--color-background-card);

    border: .2rem solid var(--color-border);
    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border-radius: var(--border-radius);
}
