.product-card {
    display: flex;
    flex-direction: column;

    -webkit-border-radius: var(--border-radius);
    -moz-border-radius: var(--border-radius);
    border-radius: var(--border-radius);

    border: .1rem solid var(--color-border);

    transition: box-shadow var(--transition-base);

    position: relative;
}

.product-card:hover {
    box-shadow: 0 0 2rem rgba(0, 0, 0, .1);
}

.product-card:hover .image {
    transform: scale(1.02);
}

.product-card .product-card__img-wrapper {
    height: 30rem;

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);

    overflow: hidden;
}

.product-card .product-card__content {
    padding: 4rem 2rem 2rem;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.product-card .product-card__title {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product-card .product-card__link {
    display: block;

    font-size: inherit;
    font-weight: inherit;

    transition: color var(--transition-base);
}

.product-card .product-card__info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product-card .product-card__info-item {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.product-card .product-card__info-img {
    width: 1.2rem;
    height: 1.2rem;
}

.product-card .product-card__info-text {
    color: var(--color-text-gray);

    font-size: var(--font-size-small);
    font-weight: 400;
}
