:root {
    --color-primary: #1989cf;
    --color-primary-hover: #1572ac;
    --color-primary-light: #44aaea;
    --color-secondary: #5d1987;
    --color-secondary-hover: #4a146c;
    --color-background: #e3f2fb;
    --color-background-secondary: #fff;
    --color-text: #000;
    --color-text-secondary: #fff;
    --color-border: #c3c2c2;
    --color-danger: #e64949;
    --color-danger-hover: #b13737;
    --color-shadow: #787878;
    --color-gray: #636363;
    --width: 80%;
    --border-radius: .9rem;
    --btn-border-radius: 10rem;
    --font-size-small: 1.4rem;
    --font-size-base: 1.6rem;
    --font-size-large: 1.8rem;
    --font-weight-base: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --transition-base: .3s ease;
    --transition-medium: .7s ease;
}
