:root {
    --color-primary: #18181b;
    --color-primary-light: #44aaea;
    --color-secondary: #5d1987;
    --color-secondary-hover: #4a146c;
    --color-background: #fff;
    --color-background-secondary: #f4f4f5;
    --color-background-card: #f1e5fa;
    --color-text-primary: #09090b;
    --color-text-secondary: #fafafa;
    --color-text-gray: #71717a;
    --color-border: #e4e4e7;
    --color-danger: #e64949;
    --color-danger-hover: #b13737;
    --color-shadow: #a5a5a5;
    --color-gray: #636363;
    --color-orange: #f59e0b;
    --color-green: #22c55e;
    --color-red: #ef4444;
    --color-scrollbar: #f4f4f5;
    --color-scrollbar-thumb: #ccccd0;
    --color-scrollbar-thumb-hover: #b3b3b7;
    --width: 80%;
    --border-radius: 1rem;
    --border-radius-small: .8rem;
    --border-radius-full: 9999px;
    --font-size-small: 1.2rem;
    --font-size-base: 1.4rem;
    --font-size-large: 1.6rem;
    --font-size-extra-large: 1.8rem;
    --font-weight-base: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --transition-base: .3s ease;
    --transition-medium: .7s ease;
}
