@import "_variables.css";
@import "_form.css";
@import "_btn.css";
@import "_nav.css";
@import "_checkbox.css";
@import "_card.css";
@import "_footer.css";
@import "_product-show.css";
@import "_logo.css";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    color: var(--color-text);

    font: 10px "Roboto", sans-serif;
}

body {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    gap: 4rem;

    background-color: var(--color-background);
}

main {
    width: var(--width);

    margin: 0 auto;
}

h1 {
    font-size: 3.2rem;
    font-weight: 700;
}

h2 {
    font-size: 2.8rem;
    font-weight: 500;
}

h3 {
    font-size: 2.2rem;
    font-weight: 500;
}

h4 {
    font-size: 1.8rem;
    font-weight: 500;
}

p, .text {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);
    line-height: 2.8rem;
}

.text--center {
    text-align: center;
}

.error {
    color: var(--color-danger);
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 4rem;
}

.prices {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price {
    color: var(--color-secondary);

    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}

.old-price {
    color: var(--color-gray);

    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);

    text-decoration: line-through;
    opacity: .5;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mt-4 {
    margin-top: 4rem;
}

a {
    text-decoration: none;
}

.image {
    width: 100%;
    height: 100%;
}

.image.image--contain {
    object-fit: contain;
}

.image.image--cover {
    object-fit: cover;
}

.header, .footer {
    padding: 2rem 0;

    background-color: var(--color-primary-light);
}

.header__wrapper, .footer__wrapper {
    width: var(--width);

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
