@import "_variables.css";
@import "_form.css";
@import "_btn.css";
@import "_header.css";
@import "_nav.css";
@import "_checkbox.css";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    color: var(--color-text);

    font: 10px "Roboto", sans-serif;
}

body {
    background-color: var(--color-background);
}

main {
    width: var(--width);

    margin: 0 auto;
}

h1 {
    font-size: 3.2rem;
    font-weight: 700;
}

h2 {
    font-size: 2.8rem;
    font-weight: 500;
}

h3 {
    font-size: 2.2rem;
    font-weight: 500;
}

h4 {
    font-size: 1.8rem;
    font-weight: 500;
}

p, .text {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);
}

.text--center {
    text-align: center;
}

.error {
    color: var(--color-danger);
}
