@import url('https://fonts.googleapis.com/css2?family=SN+Pro:wght@200..900&display=swap');
@import "_variables.css";
@import "_form.css";
@import "_btn.css";
@import "_nav.css";
@import "_checkbox.css";
@import "_product-card.css";
@import "_footer.css";
@import "_product-show.css";
@import "_logo.css";
@import "_table.css";
@import "_order-card.css";
/*@import "_product-card2.css";*/
@import "_header.css";
@import "_search.css";
@import "_badges.css";
@import "_sort.css";
@import "_filter.css";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    color: var(--color-text-primary);

    font: 10px "SN Pro", sans-serif;
}

body {
    min-height: 100vh;

    background-color: var(--color-background);
}

::-webkit-scrollbar {
    width: .8rem;
}

::-webkit-scrollbar-track {
    background-color: var(--color-scrollbar);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-scrollbar-thumb);

    -webkit-border-radius: var(--border-radius-full);
    -moz-border-radius: var(--border-radius-full);
    border-radius: var(--border-radius-full);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-scrollbar-thumb-hover);
}

main {
    width: var(--width);

    margin: 0 auto;
}

h1 {
    font-size: 3.6rem;
    font-weight: 700;
}

h2 {
    font-size: 2.8rem;
    font-weight: 500;
}

h3 {
    font-size: var(--font-size-large);
    font-weight: 500;
}

h4 {
    font-size: var(--font-size-large);
    font-weight: 500;
}

p, .text {
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-base);
    line-height: 2.8rem;
}

.text--large {
    font-size: var(--font-size-large);
}

.text--center {
    text-align: center;
}

.text--bold {
    font-weight: var(--font-weight-bold);
}

.text--gray {
    color: var(--color-text-gray);
}

.error {
    color: var(--color-red);
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem;
}

.flex {
    display: flex;
}

.flex.ai-center {
    align-items: center;
}

.flex.jc-sb {
    justify-content: space-between;
}

.flex.fd-column {
    flex-direction: column;
}

.flex.gap-1 {
    gap: 1rem;
}

.flex.gap-2 {
    gap: 2rem;
}

.prices {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price {
    color: var(--color-text-primary);

    font-size: var(--font-size-extra-large);
    font-weight: 700;
}

.old-price {
    color: var(--color-text-gray);

    font-size: var(--font-size-base);
    font-weight: 400;

    text-decoration: line-through;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-4 {
    margin-bottom: 4rem;
}

.mt-4 {
    margin-top: 4rem;
}

a {
    text-decoration: none;
}

.image {
    width: 100%;
    height: 100%;

    transition: transform var(--transition-base);
}

.image.image--contain {
    object-fit: contain;
}

.image.image--cover {
    object-fit: cover;
}

.header, .footer {
    padding: 1rem 0;
}

.header__wrapper, .footer__wrapper {
    width: var(--width);

    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.buttons > * {
    flex: 1;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.title .title__text {
    max-width: 70rem;
}

.wrapper {
    display: flex;
    gap: 3rem;

    position: relative;
}

.products {
    width: 100%;
}

hr {
    border: none;
    border-top: .1rem solid var(--color-border);
}
